@import '../../commonFiles/variables.scss';
.btn {
    width: 45px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    padding: 3px 0px;
    font-size: 12px;
}

.status-on {
    background-color: $main-color;
}

.status-off {
    background-color: #565a5c;
}

.status-lock {
    margin-right: 12px;
}